@{
    ViewBag.Title = "About";
}

<p>
    <strong>
        Test task for NET developer position<br />
        <br />
        Story<br />
        As user I want a tool for evaluating website performance.<br />
        Acceptance criteria<br />
        <br />
        <li>
            It should be a web site, ASP.NET MVC (suggestion: you can use
            bootstrap framework)
        </li>
        <li>It should be a page with text box where user can enter URL</li>
        <li>
            Application has to determine sitemap of requested URL, sends requests
            to sitemap’s URLs and measure response time.
        </li>
        <li> Test result should display pages speed graphically (top of the page)</li>
        <li>
            Test result should display page speed as a table (bottom of the page).
            Table should contain min and max values for each page
        </li>
        <li> Slowest requests should be on top</li>
        <li> It should be possible to evaluate tests result history for tested web sites</li>
        <li>
            Source code for the task should be uploaded to GitHub or Bitbucket
        </li>
        <br />
        Notes<br />
        Approach, tools, database engine can be selected by candidate.<br />
        It would be super cool in case response time is showed in real time. However<br />
        it is not required.<br />
    </strong>
</p>
