@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Kovalenko Danila Romanovich</strong><br />
        Ukraine<br />
        Kharkiv<br />
        <abbr title="Phone">P: +380999366044</abbr>
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:animtel@gmail.com">animtel@gmail.com</a><br/>
</address>